* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN */
.container {
    width: 50%;
    margin: 0 auto;
    height: 300px;
    margin-top: 200px;
    color: white;
    position: relative;
}

.item {
    height: 100%;
    width: 100%;
}

.item,
.title,
.text {
    display: none;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 40%;
}

.title {
    font-size: 20px;
    font-weight: 900;
    position: absolute;
    top: 70%;
}

.text {
    font-size: 15px;
    width: 70%;
    text-align: right;
    position: absolute;
    top: 80%;
}

.title,
.text {
    right: 40px;
    background-color: rgba(0, 0, 0, 0.5);
}


/* bottoni next e prev */
.next i,
.prev i {
    display: inline-block;
    color: black;
    background-color: white;
    font-size: 20px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
}

.next i {
    bottom: 10px;    
}

.prev i {
    top: 10px;
}

.next i:hover,
.prev i:hover {
    cursor: pointer;
}

/* active */
.active {
    display: block;
}